<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/game/people/create">Create New Character</a>
        <a href="/game/events/quest/create">Create New Quest</a>
    </div>
    <h1>Create Your Person!</h1>
    <form action="/game/events/quest/create" method="post">
        <label for="Name">Name: </label>
        <input type="text" name="Name">
        <br>
        <label for="Location"></label>
        <input type="text" name="Location">
        <br>
        <label for="Skills"></label>
        <input type="number" name="Skills">
        <br>
        <label for="TotalExperience"></label>
        <input type="number" name="TotalExperience">
        <br>
        <input type="submit" value="Submit Person">
    </form>
</body>
</html>
