@model FullWebApp.Models.Person

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/game/people/create">Create New Character</a>
        <a href="/game/people/message/create">Create New Message</a>
    </div>
    <h1>Welcome to My Site, @Model.Name from @Model.Location</h1>
    <h3>Due to your skill level of @Model.Skills, you are permitted to access level 3</h3>
</body>
</html>
