@model FullWebApp.Models.MessageForm

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
        <a href="/game/people/create">Create New Character</a>
        <a href="/game/people/message/create">Create New Message</a>
    </div>
    <h1>Congrats, @Model.Name</h1>
    <p>You Sent @Model.Message</p>
</body>
</html>
