@using ProductAndCategories.Models
@model Product
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <a href="/">Home</a>
        </div>
        <h1>Create a Product</h1>
        <div class="row">
            <form asp-action="CreateProduct" asp-controller="Home" method="post">
                <div class="form-group row">
                    <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="Name"></span>
                    <label asp-for="Name" class="col-sm-4"></label>
                    <input asp-for="Name" class="col-sm-8 form-control">
                </div>
                <div class="form-group row">
                    <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="Description"></span>
                    <label asp-for="Description" class="col-sm-4"></label>
                    <input asp-for="Description">
                </div>
                <div class="form-group row">
                    <span class="col-sm-8 offset-sm-4 text-danger" asp-validation-for="Price"></span>
                    <label asp-for="Price" class="col-sm-4"></label>
                    <input asp-for="Price" class="col-sm-8 form-control">
                </div>
                <div class="form-group row">
                    <input type="submit" value="Submit" class="col-sm-4 offset-sm-4 btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</body>
</html>