@model LoginReg.Models.RegForm

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Today!</h1>
    <form asp-action="Profile" asp-controller="Home" method="post">
        <span asp-validation-for="Name"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name">
        <br>
        <span asp-validation-for="Location"></span>
        <label asp-for="Location"></label>
        <input asp-for="Location">
        <br>
        <span asp-validation-for="Email"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email">
        <br>
        <span asp-validation-for="Skills"></span>
        <label asp-for="Skills"></label>
        <input asp-for="Skills">
        <br>
        <span asp-validation-for="TotalExperience"></span>
        <label asp-for="TotalExperience"></label>
        <input asp-for="TotalExperience">
        <br>
        <input type="submit" value="Submit Person">
    </form>
</body>
</html>
